
@tailwind components;

@layer components {
  
  .container {
    padding: 0 2rem;
    max-width: 70vw;
    margin: auto;
  }
  
  .contents {
    border: 1px solid white;
    border-radius: 15px;
    padding: 2rem;
    font-size: 16px;
  }

  .contentsText {
    margin: auto;
    @apply p-3 max-w-2xl
  }
  
  .contents li {
    list-style-type: square;
  }
  
  .contents span {
    font-weight: bold;
    font-size: 20px;
  }
  
  .contentsHeader {
    font-size: 22px;
  }
  
  .main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Heading */
  .mainHeader {
    @apply text-4xl font-black p-9
  }

  /* Section */
  .section {
    @apply p-10
  }

  .section h1 {
    @apply text-2xl font-semibold pb-5
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    .card,
    .footer {
      border-color: #222;
    }
    .code {
      background: #111;
    }
    .logo img {
      filter: invert(1);
    }
  }
}

